body {
  background: #000;
  .wrapper {
    max-width: 1800px;
    margin: 0 auto;
  }
  color: #fff;
}
header {
  .collection-container {
    position: relative;
    height: 100%;
  	margin: 0;
  	// padding: 1em 0 4em;
  	// max-width: 1000px;
  	list-style: none;
  	text-align: center;

    figure {
      position: relative;
      background-color: #000;
      display:inline-block;
      overflow:hidden;
      -webkit-transition: background-color 5s ease;
      transition: background-color 5s ease;
      animation: fadein 2s ease-out;
      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1.0;
        }
      }
      img {
        opacity: 0.8;
        -webkit-transition: opacity 10s, -webkit-transform 10s;
      	transition: opacity 10s, transform 10s;
      	-webkit-transform: scale(1);
      	transform: scale(1);

        width: 100%;
        height: 150px;
        @media(min-width: $screen-sm-min) {
         height: 250px;
        }
        @media(min-width: $screen-md-min) {
         height: 300px;
        }
        @media(min-width: $screen-lg-min) {
         height: 350px;
        }
        @media(min-width: $screen-wxga-min){
          height: 400px;
        }
        @media(min-width: $screen-hd-min) {
         height: 450px;
        }
      }
      figcaption {
        position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        h2 {
          span {
            font-weight: lighter;
            font-size: 20px;
            @media(min-width: $screen-sm-min) {
              font-size: 30px;
            }
            @media(min-width: $screen-lg-min) {
              font-size: 36px;
            }
            @media(min-width: $screen-hd-min) {
              font-size: 42px;
            }
          }
        }
        p {
          opacity: 0;
          font-weight: 200;
          margin: 0 auto;
          max-width: 200px;
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
          transition: opacity 5s, transform 5s;
          @media(max-width: $screen-xs) {
            opacity: 0.8;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.effect-chico {
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    background-color: #C7540B;
    img {
      opacity: 0.5;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    p {
      opacity: 1;
      transform: scale(1.12);
    }
  }
}

section {
  &.collection-grid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    &:after {
      content: '';
      flex-grow: 999999999;
    }
    div {
      margin: 2px;
      position: relative;
    }
    i {
      display: block;
    }
    img {
      position: absolute;
      top: 0;
      width: 100%;
      vertical-align: bottom;
    }
  }
}

section {
  &.collection-hero {
    padding: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    img {
      opacity: 0.7;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      position: relative;
      left: 50%;
    }
    .collection-hero-content {
      position: absolute;
    	top: 40%;
    	left: 0;
    	width: 100%;
    	height: 100%;
      text-align: center;
      padding: 48px 64px;
      @media(max-width: $screen-xs-max) {
        top: 20%;
        padding: 24px 32px;
      }
      .collection-hero-content-inner {
        top: auto;
      	bottom: 0;
      	padding: 16px;
        color: #fff;
        -webkit-transition: -webkit-transform 2s;
      	transition: transform 2s;
        animation: fadeandscale 2s ease-out;
        @keyframes fadeandscale {
          0% {
            opacity: 0;
            transform: scale(0.7);
          }
          100% {
            opacity: 1.0;
            transform: scale(1);
          }
        }
        margin: 0 28px;
        @media(max-width: $screen-xs-max) {
          margin: 0;
        }
        h2 {
          font-weight: 200;
          font-size: 24px;
          @media(max-width: $screen-xs-max) {
            font-size: 18px;
          }
        }
        p {
          font-weight: 200;
          font-size: 16px;
          @media(max-width: $screen-xs-max) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.collection-container {
  section {
    animation: fadein 1s ease-out;
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1.0;
      }
    }
  }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn-circle:hover {
  border-color: #42DCA3;
}
.fa-angle-double-down {
  color: #fff;
}
.btn-circle:hover > .fa-angle-double-down {
  color: #42DCA3;
}
.fa-angle-double-down:hover {
  color: #42DCA3;
}
